/* ============================
   Default Theme
   ----------------------------
   Fonts: Raleway, Open Sans
   ----------------------------
   Colors:

    Moon Yellow: #F4C613
    Grey       : #212226
    White Smoke: #F4F4F4
    White      : #FFFFFF
    Black      : #000000
============================== */

/* ============================
       Generic styles html, body
============================== */
html,
body {
    height: 100%;
}

body {
    color: #212226;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "raleway", sans-serif;
}

p {
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    font-size: 13px;
    line-height: 24px;
}

section {
    background: #fff;
    overflow: hidden;
}

/* ============================
        preloader
============================== */
#preloader {
    background-color: white;

    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 9999;
}

#status {
    background-image: url(../img/solo-images/preloader/preloader.gif);
    background-repeat: no-repeat;
    width: 70px;
    height: 70px;

    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -35px;
    margin-left: -35px;
}

/* ============================
   home section
============================== */
#home {
    background: none;
    height: 100%;
}

#home-bg-video {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -ms-transform: translateX(-50%) translateY(-50%);
    -o-transform: translateX(-50%) translateY(-50%);
    min-height: 100%;
    min-width: 100%;
    width: auto;
    height: auto;
    z-index: -1;
    background: url(../videos/solo.jpg) no-repeat;
    background-size: cover;
}

#home-overlay {
    background-color: rgba(0, 0, 0, 0.8);
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
}

#home-content {
    width: 100%;
    height: 100%;
    display: table;
}

#home-content-inner {
    display: table-cell;
    vertical-align: middle;
}

#home-heading h1 {
    color: #fff;
    text-transform: uppercase;
    font-weight: 100;
    margin: 0;
    font-size: 65px;
    display: inline-block;
}

#home-heading h1 span {
    color: #F4C613;
    font-weight: 500;
}

#home-text p {
    color: #fff;
    font-weight: 100;
    font-size: 17px;
    margin: 8px 0 30px 0;

}

/* ============================
      buttons
============================== */
.btn-general {
    font-family: "Raleways", sans-serif;
    border-radius: 28px;
    -webkit-border-radius: 28px;
    -moz-border-radius: 28px;
    -ms-border-radius: 28px;
    -o-border-radius: 28px;
    font-size: 13px;
    text-transform: uppercase;
    margin: 0 30px;
    padding: 12px 46px 12px 46px;
    transition: all .5s;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -ms-transition: all .5s;
    -o-transition: all .5s;
}

.btn-home {
    color: #fff;
    border: 1px solid #fff;
}

.btn-home:hover,
.btn-home:focus {
    color: #fff;
    background-color: #F4C613;
    border: 1px solid #F4C613;
}

.btn-yellow {
    color: #fff;
    border: 1px solid #F4C613;
    background-color: #F4C613;
}

.btn-yellow:hover,
.btn-yellow:focus {
    color: #fff;
    background-color: #212226;
    border: 1px solid #212226;
}
.btn-white {
    color: #212121;
    border: 1px solid #fff;
    background-color: #fff;
}

.btn-white:hover,
.btn-white:focus {
    color: #fff;
    background-color: #212226;
    border: 1px solid #212226;
}

/* ============================
  Arrow Down
============================== */
#arrow-down {
    position: absolute;
    left: 50%;
    bottom: 20px;
    color: #fff;
    font-size: 32px;
    width: 32px;
    height: 32px;
    text-align: center;
    margin-left: -16px;
    z-index: 1;
}

#arrow-down:hover,
#arrow-down:focus {
    color: #F4C613;
}

/* ============================
  Content Boxes
============================== */
.content-box-lg {
    padding: 120px 0;

}

.content-box-md {
    padding: 100px 0;
}
.content-box-sm {
    padding: 90px 0;
}


/* ============================
    Vertical & horizontal Headings
============================== */
.vertical-heading h5 {
    color: #F4C613;
    font-size: 14px;
    text-transform: uppercase;
    transform: rotate(-90deg);
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    word-spacing: 9px;
    position: relative;
    top: 60px;
    left: -53px;
    font-weight: 500;
    display: inline-block;
}

.vertical-heading h2,
.horizontal-heading h2 {
    text-transform: capitalize;
    line-height: 45px;
    font-size: 42px;
    font-weight: 100;
}

.vertical-heading h2 {
    margin: 0 0 0 35px;

}

.horizontal-heading {
    margin-bottom: 80px;
}

.horizontal-heading h5 {
    color: #F4C613;
    text-transform: uppercase;
    display: inline-block;
    margin-bottom: 10px;
    font-size: 16px;

}

.horizontal-heading h2 {
    margin: 0;
}

/* ============================
   About 01
============================== */

#about-right p:first-child {
    margin-bottom: 30px;
}

#about-bottom {
    margin-top: 60px;
}

#about-bottom img {
    margin: 0 auto;
}

/* ============================
 About 02
============================== */
#about-02 {
    background-color: #f4f4f4;
}

.about-item {
    padding: 80px 30px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: #fff;

}

.about-item i {
    font-size: 42px;
    margin: 0;
}

.about-item h2 {
    font-size: 24px;
    margin-bottom: 10px;
}

.about-item hr {
    width: 45px;
    height: 3px;
    background-color: #F4C613;
    margin: 0 auto;
    border: none;
}

.about-item p {
    margin-top: 20px;
}

.about-item:hover {
    background-color: #F4C613;
}

.about-item:hover i,
.about-item:hover h3,
.about-item:hover p {
    color: #fff;
}

.about-item:hover hr {
    background-color: white;
}

.about-item:hover i {
    transform: translateY(-25px);
    -webkit-transform: translateY(-25px);
    -moz-transform: translateY(-25px);
    -ms-transform: translateY(-25px);
    -o-transform: translateY(-25px);
}

/* smooth transition */
.about-item,
.about-item i,
.about-item h2,
.about-item p {
    transition: all 400ms ease-in-out;
    -webkit-transition: all 400ms ease-in-out;
    -moz-transition: all 400ms ease-in-out;
    -ms-transition: all 400ms ease-in-out;
    -o-transition: all 400ms ease-in-out;
}

/* ============================
      Team
============================== */
#team-left .vertical-heading {
    min-height: 160px;
}

.team-member {
    margin: 8px;
    position: relative;
}

.team-member-overlay {
    background-color: rgba(33, 34, 38, 0.9);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    opacity: 0;
    transition: all 700ms linear;
    -webkit-transition: all 700ms linear;
    -moz-transition: all 700ms linear;
    -ms-transition: all 700ms linear;
    -o-transition: all 700ms linear;
}

.team-member-info {
    width: 100%;
    height: 100%;
    padding: 80px 0;
}

.team-member-info h6 {
    color: #F4C613;
    margin: 0;
    font-size: 16px;
}

.team-member-info p {
    color: #fff;
}

.team-member:hover .team-member-overlay {
    opacity: 1;
}

/* ============================
    Social Icons
============================== */
ul.social-list {
    padding: 0;
    margin-top: 20px;

}

ul.social-list li {
    padding: 0;
    display: inline-block;
}

ul.social-list li a {
    border: 1px solid #fff;
    width: 35px;
    height: 35px;
    line-height: 35px;
    display: inline-block;
    color: #fff;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    transition: all 400ms linear;
    -webkit-transition: all 400ms linear;
    -moz-transition: all 400ms linear;
    -ms-transition: all 400ms linear;
    -o-transition: all 400ms linear;
}

ul.social-list li:nth-child(1):hover a {
    background-color: #3b5998;
    border-color: transparent;
}

ul.social-list li:nth-child(2):hover a {
    background-color: #00aced;
    border-color: transparent;
}

ul.social-list li:nth-child(3):hover a {
    background-color: #dd4b39;
    border-color: transparent;
}

/* ============================
    Slider Buttons
============================== */
.owl-theme .owl-nav [class*=owl-] {
    font-size: 40px !important;
    color: #212226 !important;
    background: none !important;
    outline: 0;
}

.owl-theme .owl-nav [class*=owl-]:hover {
    background: none;
    color: #212226;
}

/* ============================
    Skills
============================== */
.skill {
    margin-bottom: 20px;
}

.skill h4 {
    line-height: 82px;
    margin: 0;
    display: inline-block;
    font-weight: normal;
}

.progress {
    height: 25px;
    border-radius: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    -o-border-radius: 0;
    background-color: #efefef;

}

.progress-bar {
    background: #F4C613;
    position: relative;
    transition: width 400ms ease !important;
    -webkit-transition: width 400ms ease !important;
    -moz-transition: width 400ms ease !important;
    -ms-transition: width 400ms ease !important;
    -o-transition: width 400ms ease !important;
}

.progress-span {
    font-size: 11px;
    font-weight: 100;
    color: #F4C613;
    font-family: "Open Sans", sans-serif;
    background-color: #212226;
    padding: 3px;
}

.sp-01,
.sp-02,
.sp-03,
.sp-04 {
    position: absolute;
    top: 50px;
    padding: 10px 5px 10px 5px;
}

.sp-01 {
    left: 90%;
}

.sp-02 {
    left: 71%;
}

.sp-03 {
    left: 71%;
}

.sp-04 {
    left: 85%;
}

.skill span:before {
    content: "";
    border-top: 8px #212226 solid;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    position: absolute;
    bottom: -8px;
    left: 9px;
}

/* ============================
       Statement
============================== */
#statement .content-box-lg {
    background: rgba(0, 0, 0, 0.3);
}

#statement {
    background: url("../img/solo-images/tech/tech-quote.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    position: center;
}

#tech-statement h3 {
    font-size: 24px;
    color: #fff;
    line-height: 45px;
}

#tech-statement p {
    font-size: 14px;
    color: #F4C613;
    font-family: "Raleway", sans-serif;
    margin-top: 8px;
}

/* ============================
 services 01
============================== */
#services-01 img {
    margin: 60px 0;
}

.service {
    margin: 30px 0;
}

.service .icon {
    font-size: 42px;
    margin: 0;
    transition: all 400ms linear;
    -webkit-transition: all 400ms linear;
    -moz-transition: all 400ms linear;
    -ms-transition: all 400ms linear;
    -o-transition: all 400ms linear;
}

.service:hover .icon {
    color: #F4C613;
    transform: translateX(-20PX);
    -webkit-transform: translateX(-20PX);
    -moz-transform: translateX(-20PX);
    -ms-transform: translateX(-20PX);
    -o-transform: translateX(-20PX);
}

.service h5 {
    font-size: 12px;
    text-transform: uppercase;
    color: #F4C613;
    margin: 0 0 6px 0;
}

.service:hover h5 {
    color: #212226;
}

.service h6 {
    font-size: 24px;
    margin: 0 0 8px 0;
}

.service p {
    line-height: normal;
}

/* ============================
services-02(responsive)
============================== */
#services-02 {
    background-color: #f4f4f4;
}

#services-tabs ul {
    margin-bottom: 40px;
}

#services-tabs ul li {
    padding: 5px 30px;
}

#services-tabs ul li a {
    font-family: "Raleway", sans-serif;
    font-size: 13px;
    color: #212226;
    text-transform: uppercase;
    font-weight: 400;
    padding: 0;
    text-decoration: none;
}

/* tab active state */
#services-tabs ul li.r-tabs-state-active a {
    color: #F4C613;
    font-weight: 700;
    border-bottom: #F4C613 solid 3px;
    transition: border-color 300ms linear;
    -webkit-transition: border-color 300ms linear;
    -moz-transition: border-color 300ms linear;
    -ms-transition: border-color 300ms linear;
    -o-transition: border-color 300ms linear;
}

.service-tab .col-md-6 {
    padding: 0;
}

.service-tab img {
    width: 100%;
    margin: 0 auto;
}

.service-tab .tab-bg {
    min-height: 481px;
    background: #fff;
    padding: 59px 30px;

}

.service-tab h2 {
    font-size: 48px;
    color: #bbb;
    margin-bottom: 20px;
    font-weight: 100;
}

.service-tab h3 {
    font-size: 32px;
    margin-bottom: 30px;
}

.service-tab p {
    font-size: 24px;
    margin-bottom: 30px;
}
/* ============================
       work section
============================== */
#work{
    padding-bottom: 160px;
}
#work .vertical-heading{
    margin-bottom: 50px;
}
.row.no-gutters[class*=col-]{
    padding: 0;
}
.work-item{
    overflow: hidden;
    position: relative;
}
/* Filter CSS */
#isotope-filters{
    margin-bottom: 10px;
    padding: 20px 25px 20px 0px;
}
#isotope-filters button{
    font-family: "Raleway", sans-serif;
    font-size: 12px;
    font-weight: 700;
    text-transform: uppercase;
    background: transparent;
    box-shadow: none;
    padding-right: 35px;
    outline: 0;
}
#isotope-filters button span{
    display: block;
    padding-bottom: 5px;
    transition: border-color 0.4s ease-in-out;
    -webkit-transition: border-color 0.4s ease-in-out;
    -moz-transition: border-color 0.4s ease-in-out;
    -ms-transition: border-color 0.4s ease-in-out;
    -o-transition: border-color 0.4s ease-in-out;
}
#isotope-filters button.active span{
    color: #F4C613; 
    border-bottom: 3px solid #F4C613;
}
/* zoom effect */
.work-item img{
    width: 100%;
    height: auto;
    transition: transform .5s ease;
    -webkit-transition: transform .5s ease;
    -moz-transition: transform .5s ease;
    -ms-transition: transform .5s ease;
    -o-transition: transform .5s ease;
}
.work-item:hover img{
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
}

/* work overlay effect */
.work-item-overlay{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(14, 14, 17, 0.9);
    cursor: zoom-in; /* toshowzoomicon */
    opacity: 0;
    transition: all 0.8s ease ;
    -webkit-transition: all 0.8s ease ;
    -moz-transition: all 0.8s ease ;
    -ms-transition: all 0.8s ease ;
    -o-transition: all 0.8s ease ;
}
/* item details effects */
.work-item-details{
    width: 100%;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
}
.work-item-details h3{
    transform: translateY(-20%);
    color: #F4C613;
    text-transform: uppercase;
    font-size: 30px;
    margin:0;
    padding:0;
    -webkit-transform: translateY(-20%);
    -moz-transform: translateY(-20%);
    -ms-transform: translateY(-20%);
    -o-transform: translateY(-20%);
    transition: all 0.8s;
    -webkit-transition: all 0.8s;
    -moz-transition: all 0.8s;
    -ms-transition: all 0.8s;
    -o-transition: all 0.8s;
}
.work-item-details span{
    display: inline-block;
    border-top: 1px solid #fff;
    border-bottom: 1px solid #fff;
    height: 6px;
    width: 30px;
    margin: 11px auto 5px auto;
}
.work-item-details p{
    transform: translateY(20%);
    font-size: 17px;
    color:#fff;
    margin: 0;
    padding: 0;
    text-transform: uppercase;
    -webkit-transform: translateY(20%);
    -moz-transform: translateY(20%);
    -ms-transform: translateY(20%);
    -o-transform: translateY(20%);
    transition: all 0.8s;
}
/* show overlay on mouse hover */
.work-item:hover .work-item-details h3{
    transform: translateY(0);
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0); 
}
.work-item:hover .work-item-details p{
    transform: translateY(0);
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
}
.work-item:hover .work-item-overlay{
    opacity: 1;
}
/* ============================
 Testimonial section
============================== */
#testimonials{
    background: #f4f4f4;
    padding-bottom: 45px;
    overflow: visible;
    }
#testimonials .vertical-heading{
    padding: 60px 0;
    margin-bottom:80px;
}
#testimonials-slider{
    background: #F4C613;
    top:-128px;
}
#testimonials-slider .testimonial{
    padding:20px 45px 0 45px;
    color: #fff;
}
.testimonial .row{
    margin-bottom:25px;
}
.testimonial h3{
    font-size: 32px;
    line-height: 35px;
}
.testimonial .stars{
    font-size: 20px;
    margin: 20px 0 10px 0;
}
.testimonial p{
    line-height: normal;
    margin: 0;
    margin-top: 5px;
    margin-bottom: 20px;
}

.testimonial .author .author-name-des{
    width: 106px;
    margin-top: 25px;
    text-align: left;
}
.author .author-name-des p{
    margin: 0;
}

/* ============================
Pricing
============================== */
.pricing-table{
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
    border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    -o-border-radius: 6px;
    padding: 32px 21px;
}
.pricing-table:hover{
    background: #F4C613;
}
.pricing-table .type h4{
    color: #F4C613;
    font-size: 24px;
    margin-bottom: 25px;
}
.pricing-table .price{
    border-top: 1px solid #e0e0e0;
    border-bottom: 1px solid #e0e0e0;
    padding: 24px 0;
}
.pricing-table .price h2{
    font-family: "Open Sans", sans-serif;
    font-size: 42px;
    font-weight: 100;
    margin: 0 0 0 24px;
    position: relative;
}
.pricing-table .price h2 span{
    font-family: "Raleway", sans-serif;
}
.pricing-table .price h2 span.dollar{
    font-size: 18px;
    font-weight: 300;
    position: absolute;
    left: -20px;
    top: 5px;
}
.pricing-table .price h2 span.month{
    font-size: 11px;
    font-weight: 400;
    position: absolute;
    left: 5px;
    bottom: -12px;
}
.pricing-table .price p{
    line-height: normal;
    font-weight: 200px;
    margin: 0;
    margin-top: 10px;
    padding: 0;
}
.pricing-table ul.package{
    list-style: none;
    padding: 20px 0;
}
.pricing-table ul.package li{
    font-family: "Open Sans", sans-serif;
    font-size: 13px;
    font-weight: 400;
    line-height: 40px;
}
.pricing-table ul.package li i{
    width: 24px;
}
.pricing-table .btn-yellow,
.pricing-table.black .btn-white{
    width: 96%;
}
.pricing-table:hover h4,
.pricing-table:hover h2,
.pricing-table:hover p,
.pricing-table:hover ul.package{
    color: #fff;
}
.pricing-table:hover .btn-yellow{
   background: #fff;
   color: #212226;
   border: 1px solid #fff;
}
.pricing-table .btn-yellow:hover,
.pricing-table .btn-yellow:focus{
    background:  #212226;
    color: #fff;
    border: 1px solid #212226;
 }
 /* Black pricing table */
 .pricing-table.black{
     background: #212226;
     color: #fff;
 }
 .pricing-table.black .type h4{
     color: #fff;
 }
 .pricing-table.black:hover{
     background: #F4C613;
 }
 /* ============================
      statistics section
============================== */
#statistics .content-box-md {
    background: rgba(0, 0, 0, 0.8);
}

#statistics {
    background: url("../img/solo-images/stats/stats-bg.jpg") fixed;
    background-repeat: no-repeat;
    background-size: cover;

    position: center;
}
#statistics .vertical-heading h2{
    color: #fff;
}
#statistics .vertical-heading{
    margin-bottom: 50px;
}
.stats-item{
    background: rgb(61, 68, 68, 0.6);
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    min-height: 178px;
    padding: 25px 50px;
   
}
.stats-item i{
    font-size: 42px;
    color: #F4C613;
    margin: 0 0 6px 0;
    transition: all 400ms;
    -webkit-transition: all 400ms;
    -moz-transition: all 400ms;
    -ms-transition: all 400ms;
    -o-transition: all 400ms;
}
.stats-item h3{
    font-size: 32px;
    color: #FFF;
    margin: 5px 0 5px 0;
}
.stats-item p{
    color: #fff;
    margin: 0 ;
}
.stats-item:hover{
    background: #F4C613;    
}
.stats-item:hover i{
    color: #212221;
    transform: translateY(-20px);
    -webkit-transform: translateY(-20px);
    -moz-transform: translateY(-20px);
    -ms-transform: translateY(-20px);
    -o-transform: translateY(-20px);
}
/* ============================
     clients
============================== */
#clients .horizontal-heading{
    margin-bottom: 30px;
}
#clients-list{
    padding: 45px 0 0 0;
}
.client{
    padding: 0 10px;
    max-width: 150px;
    margin: 0 auto;
    line-height: 100px;
}
.client img{
    display: inline-block !important;
}
/* ============================
      blog
============================== */
#blog{
    background: #f4f4f4;
}
#blog-left p{
    margin: 25px 0;
}
#blog-btn a{
    margin: 0;
}
.blog-post{
    background: #fff;
    padding: 20px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
    border-radius: 6px;
    -webkit-border-radius: 6px;
}
.blog-post h4{
    line-height: 40px;
    margin: 0;
}
.blog-post > p{
    line-height: 24px;
    margin: 0;
    font-weight: 300;
}
.blog-post a{
    display: inline-block;
    margin-top: 25px;
    text-transform: uppercase;
    font-family: "Raleway", sans-serif;
    color: #F4C613;
    font-size: 12px;
    font-weight: 500;
    text-decoration: none;
    transition: all 400ms linear;
    -webkit-transition: all 400ms linear;
    -moz-transition: all 400ms linear;
    -ms-transition: all 400ms linear;
    -o-transition: all 400ms linear;
}
.blog-post a:hover{
    color: #212221;
}
.blog-post .post-meta{
    border-top: 1px solid #e0e0e0;
    margin-top: 30px;
    padding-top: 10px;
}
.blog-post .post-meta p{
    font-size: 11px;
    font-family: "Raleway", sans-serif;
    font-weight: 500;
    line-height: 24px;
    margin: 0;
}


/* ============================

============================== */

/* ============================

============================== */

/* ============================

============================== */
